[Unit]
Description=Mount unit for core, revision 8592
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_8592.snap
Where=/snap/core/8592
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
